
python=3.5.4
flask>0.12.3
flask-wtf>=0.14.2
httplib2=0.10.3
matplotlib=2.1.2
pandas=0.21.0
pillow=5.1.0
scikit-learn=0.19.1
scipy=1.0.0
Theano=0.9.0
wtforms=2.1
#phantomjs=2.1.1
gunicorn=19.9.0
umap-learn=0.3.2
bokeh=0.13.0
openpyxl
xlrd
ipython
eventlet
dash
dash-renderer

