<!doctype html>
<title>Malaria Diagnosis Screener</title>
<h1>Malaria Diagnosis Screener</h1>
Please select images of cells to analyze for malaria parasite infection.

<br />Only images that are .png are valid input.

<form method=post enctype = multipart/form-data>
  <p><input type=file name=file multiple>
      {{ form.csrf_token }}
  <p><input type="submit" value="submit">
</form>

<br />Disclaimer: This is meant to demonstrate the ability of machine learning to 
classifty medical images. Please see a licensed professional if you think you 
have Malaria.