<!doctype html>
<title>Malaria Diagnosis Screener</title>
<h1>Malaria Diagnosis Screener</h1>
Please select a folder with images of cells.

<br />Only images that are .png will be classified.
<br />If you are training the classifier images need to be organized in
<br />directories according to class: parasitized or uninfected.

<form method=post enctype = multipart/form-data>
  <p><input type=file name=file multiple>
      {{ form.csrf_token }}
      {{ form.training  }}
      {{ form.sample_min  }}
      {{ form.sample_min.label  }}
  <p><input type="submit" value="submit">
</form>

<br />Disclaimer: This is meant to demonstrate the ability of machine learning to 
classifty medical images. Please see a licensed professional if you think you 
have Malaria.