<html>
<head>
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>

</head>

<title>Malaria Diagnosis Screener</title>

<body>
<h1>Malaria Diagnosis Screener</h1>
The uploaded images were saved here: {{  file_loc  }} <br />
Features for each image have been saved in a csv file: {{  features_file  }} <br />
The predicited classification for each uploaded image follow.<br />
<p>{{  class_output|safe  }}
<p>{{  script|safe  }}
<p>{{  div|safe  }}
</body>
</html>
